$color: #dcdcdc;
$color-primary: #ffffff;
$color-secondary: #f0f0f0;
$color-ternary: #c1c1c1;
$color-reverse: #6f6f6f;

$background-primary: #373736;
$background-secondary: rgb(33, 33, 33);
$background-ternary: #0c0c0c;
